<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourController</servlet-name>
        <servlet-class>controller.home.TourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>controller.home.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToursDetailController</servlet-name>
        <servlet-class>controller.home.ToursDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTourController</servlet-name>
        <servlet-class>controller.home.BookTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authen.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailController</servlet-name>
        <servlet-class>controller.home.NewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authen.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToursManager</servlet-name>
        <servlet-class>controller.admin.ToursManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditToursController</servlet-name>
        <servlet-class>controller.admin.EditToursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManager</servlet-name>
        <servlet-class>controller.admin.NewsManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNewsController</servlet-name>
        <servlet-class>controller.admin.EditNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToursBookedManager</servlet-name>
        <servlet-class>controller.admin.ToursBookedManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home/homeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourController</servlet-name>
        <url-pattern>/home/toursControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/home/newsControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToursDetailController</servlet-name>
        <url-pattern>/home/tourDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTourController</servlet-name>
        <url-pattern>/home/booktour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/home/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailController</servlet-name>
        <url-pattern>/home/newsDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/home/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToursManager</servlet-name>
        <url-pattern>/admin/ToursManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditToursController</servlet-name>
        <url-pattern>/admin/editTours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManager</servlet-name>
        <url-pattern>/admin/newsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNewsController</servlet-name>
        <url-pattern>/admin/editNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToursBookedManager</servlet-name>
        <url-pattern>/admin/toursBooked</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
